# {{ time_ntp_conf_file }}: {{ ansible_managed }}

# drift file
driftfile {{ time_ntp_drift_file }}

# restrictions
{% for restrict in time_ntp_restrict -%}
{{ restrict }}
{% endfor %}

# preferred servers
{% for server in time_ntp_servers -%}
server {{ server }} iburst prefer
{% endfor %}

# fallback servers
{% for fallback_server in time_ntp_fallback_servers -%}
server {{ fallback_server }} iburst
{% endfor %}

{% if time_ntp_local_only | default(true) | bool -%}
# listen only on local interfaces
interface ignore wildcard
interface listen 127.0.0.1
interface listen ::1
{% endif %}

{% if time_ntp_disable_monitor %}
# Disable the monitoring facility to prevent amplification attacks; see CVE-2013-5211
disable monitor
{% endif %}
